# ignore packages installed by npm
node_modules*

# put any other files you don't want to check in here,
.DS_Store

# we don't want to accidentally check our secret credentials into the repo
# credentials.js 
# This doesn't matter if we have a private repo

# don't comit log files
log

#ignore uploaded data
data