<h1>This is a temporary blaze form</h1>
<form id="blazeForm">
  uid: <input type="text" name="uid" id="uid" placeholder="uid"><br>
  lat: <input type="text" name="lat" id="lat" placeholder="latitude"><br>
  lng: <input type="text" name="lng" id="lng" placeholder="longitude"><br>
  text: <textarea rows="4" cols="50" name="text" id="text" placeholder="blaze here"></textarea><br>
  <input type="submit">
</form>

<script>
  $(function(){
    $("#blazeForm").submit(function(event){
      event.preventDefault();
      var uid = $("#uid");
      var lat = $("#lat");
      var lng = $("#lng");
      var text = $("#text");

      // Construct a blazeObj to be posted via Ajax
      var blazeObj = {
        uid: uid.val(),
        lat: lat.val(),
        lng: lng.val(),
        text: text.val()
      }

      $.ajax({
        type: "POST",
        url: "/api/blaze",
        data: blazeObj,
      });

    });

  });
</script>